<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="icon" type="image/x-icon" href="../assets/Marca/Logo.ico">
    <link rel="stylesheet" href="../index.html">
    <link rel="stylesheet" href="../../../styles.css">
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="../../dark-mode/colors-backgroud.css">
    <script src="register.js"></script>
</head>
<body>
    <script src="../../dark-mode/colors-backgroud.js"></script>
    <div class="container">
        <div class="logo-content">
            <img src="../../../assets/Marca/@biglexj/biglexj.svg" alt="Logo de la empresa" id="logo">
            <p class="company">Company</p>
        </div>
        <form action="/" class="form">
            <label for="name" class="label">Nombre(s)</label>
            <input type="text" id="name" class="input name-input" placeholder="Ejemplo: Alex">

            <label for="last-name" class="label">Apellidos</label>
            <input type="text" id="last-name" class="input last-name-input" placeholder="Ejemplo: Martínez">

            <label for="username" class="label">Usuario</label>
            <input type="text" placeholder="@biglexj" id="username" class="input username-input">

            <label for="email" class="label">Correo Electrónico</label>
            <input type="email" placeholder="usuario@example.com" id="email" class="input email-input">

            <label for="password" class="label">Contraseña</label>
            <input type="password" placeholder="**********" id="password" class="input password-input">

            <input type="submit" value="Registrar" class="primary-button">
            <a href="/" id="recovery">¿Olvidaste tu contraseña?</a>
        </form>

        <a href="../login/login.html" class="secondary-button">Iniciar Sesión</a>
        <a href="../../../home.html" class="home active">Inicio</a>
    </div>
</body>
</html>