main {
    background-color: transparent;
    max-width: 1400px;
    width: 100%;
}

.title-principal-dev {
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: center;
}

@media (max-width: 720px) {
    .title-principal-dev {
        font-size: 1rem;
    }
}

.content-principal-dev {
    width: 85%;
    margin: 20px 0;
    font-size: 1.5  rem;
    text-align: center;
    color: var(--text-color-dark);
}

@media (max-width: 720px) {
    .content-principal-dev {
        font-size: 0.5rem;
        margin: 6px 0;
    }
}

#banner-img-dev-1 {
    background-color: white;
}

.app-twitter {
    max-width: 1400px;
    margin: 0;
}

@media (max-width: 720px) {
    #banner-img-dev {
        margin: 0;
    }
}

iframe {
    width: 100%;
    border: none;
    margin-top: 20px;
}

@media (max-width: 720px) {
    iframe {
        margin-top: 10px;
    }
}

#banner-img-dev-1 {
    height: 300px;
    border-radius: 20px;
}