:root {
        /* Degradado entre los colores verde y rosa */
        --background-gradient-horizontal: linear-gradient(to right, #a1d8d8, #ffb8cc); /* Verde suave y rosa claro */
        --background-gradient-diagonal: linear-gradient(to bottom right, #a1d8d8, #ffb8cc); /* Degradado diagonal */
        --background-gradient-smooth: linear-gradient(to right, #a1d8d8, #FFFFFF, #ffb8cc); /* Suavización entre verde, blanco y rosa claro */

        /* Degradado entre los colores verde y rosa para modo oscuro */
        --background-gradient-horizontal-dark: linear-gradient(to right, #4f6a6a, #9b3d53); /* Verde oscuro y rosa oscuro */
        --background-gradient-diagonal-dark: linear-gradient(to bottom right, #4f6a6a, #9b3d53); /* Degradado diagonal con tonos más apagados */
        --background-gradient-smooth-dark: linear-gradient(to right, #4f6a6a, #333333, #9b3d53); /* Suavización entre verde oscuro, gris y rosa oscuro */
}

body {
    color: white;
    transition: background-color 0.5s ease;
}

.morning {
    background: var(--background-gradient-smooth); /*Día*/
}

.afternoon {
    background: var(--background-gradient-diagonal); /*Tarde*/
}

.evening {
    background: var(--background-gradient-smooth-dark); /*Noche*/
}

.night {
    background: var(--background-gradient-diagonal-dark); /*Madrugada*/
}