body {
    margin: 0;
}

main {
    max-width: 1400px;
    background-color: transparent;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--desaturated-color-green);
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 720px) {
    .container {
        padding: 15px;
        border-radius: 10px;
    }
}
.tweet-container {
    padding: 35px 50px;
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 13px;
    background-color: black;
    font-size: 30px;
}

@media (max-width: 720px) {
    .tweet-container {
        width: 500px;
        padding: 17px 25px;
        font-size: 15px;
        border-radius: 7px;
    }
}

.tweet-header {
    display: flex;
    align-items: center;
    color: #ced0d1;
}

#logo {
    background-color: white;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    margin-right: 20px;
}

@media (max-width: 720px) {
    #logo {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
}

.name {
    font-size: 37px;
    font-weight: bold;
}

.frase {
    margin-top: 10px;
    color: #ced0d1;
    font-size: 37px;
}

.hashtags {
    margin-top: 20px;
    color: #4a99e9;
    font-size: 37px;
}

.tweet-date {
    color: #6b6f73;
    font-size: 22px;
}

.like {
    display: flex;
    color: #6b6f73;
    font-size: 20px;
}

#like {
    margin-left: 10px;
}

hr.separator {
    border: none;
    border-top: 1px solid #6b6f73;
    margin: 20px 0;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 100px;
}

.icon {
    fill: #71767b;
    height: 45px;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.icon.active {
    fill: #f91880;
}

#comment:hover {
    fill: #1d9bf0;
}

#retuit:hover {
    fill: #00ba7c;
}

#heart-outline path {
    fill: #71767b;
}
#heart-outline:hover path {
    fill: #f91880;
}

#heart-filled path {
    fill: #f91880;
    stroke: #f91880;
    transition: fill 0.3s, stroke 0.3s;
}

#heart-filled:hover path {
    fill: #f91880;
    stroke: #f91880;
}

#save-filled:hover path {
    fill: #FFA07A;
    stroke: #FFA07A;
}

#save-outline path {
    fill: #71767b;
}
#save-outline:hover path {
    fill: #FFA07A;
}

#save-filled path {
    fill: #FFA07A;
    stroke: #FFA07A;
    transition: fill 0.3s, stroke 0.3s;
}

#share:hover {
    fill: #9370DB;
}

.download {
    display: flex;
    justify-content: center;
}

#click {
    background-color: transparent;
    border: none;
    padding: 0;
}

#keep {
    height: 50px;
}

@media (max-width: 720px) {
    .name, .frase, .hashtags {
        font-size: 19px;
    }

    .tweet-date {
        font-size: 11px;
    }

    .like {
        font-size: 10px;
    }

    .actions {
        padding: 0 50px;
        margin-top: 15px;
    }

    .icon {
        height: 23px;
    }
}
